<section id="projects">
    <div class="wrapper">
        <div class="text-center">
            <h1 class="blue-title">Портфолио</h1>
        </div>
        <div id="vertical-timeline" class="light-timeline">

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a>Первая запись в портфолио</a></h4>
                    <p>
						<span>Здесь будет информация по первому проекту</span>
					</p>
                </div>
            </div>
        </div>
    </div>
</section>
